<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            About
        </title>
        <meta name="description" content="Source code generated using layoutit.com">
        <meta name="author" content="LayoutIt!">

        <link href="../css/bootstrap.min.css" rel="stylesheet">

	    <link href="../css/about.css" rel="stylesheet">
    </head>
    <body>

            <div class="container-fluid">
                    <div class="row" id="divpadding" >
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h1 class="text-center" style="color:white;">
                                About
                            </h1> 
                            <a href="/"><button type="button" class="btn btn-md btn-outline-secondary">
                                    Home
                                </button></a>
                            
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row" id = "divpadding" style="padding-top: 5%; background-color: rgb(26,26,26)" >
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                                <img src="../images/TEDx_logo.png" id="logo" alt="TEDx_logo">
                        </div>
                        <div class="col-md-6" style="color:white;">
                            <h2>
                                TED
                            </h2>
                            <p>
                                    TED is a nonprofit organization devoted to Ideas Worth Spreading, usually in the form of short, powerful talks (18 minutes or less). TED began in 1984 as a conference where three ideas that shape our future: Technology, 
                                    Entertainment and Design converged. Today it covers almost all topics — from science to business to global issues. TED believes passionately in the power of ideas to change attitudes, lives and, ultimately, the world. TED.com is a clearinghouse of free knowledge from the world's most inspired thinkers — and a community of curious souls to engage with ideas and each other, both online and at TED and TEDx events around the world, all year long.
                            </p>
                            <p>
                                <a class="btn" href="https://www.ted.com/" target="_blank">View details »</a>
                            </p>
                            <h2 >
                            
                                    TEDx
                                </h2>
                                <p>
                                        TEDx is a program of local, self-organised events that brings people together to share a TED-like experience. These local, self-organised events are branded TEDx Talks, where x = independently organised TED event.
                                </p>
                                <p>
                                    <a class="btn" href="https://www.ted.com/" target="_blank">View details »</a>
                                </p>
                        </div>
                        <div class="col-md-1" >
                        </div>
                    </div>
                    <br><br>
                    <div class="row" id = "divpadding">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <div class="media">
                                
                                <div class="media-body">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/E1sQnjub_NU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="color:white;" id = "divpadding">
                            <h2>
                                TEDxBMSCE
                            </h2>
                            <p>
                                    TEDxBMSCE is returning this year, and aims to serve as a platform for eminent leaders and changemakers of our society to voice their visions and views. Having a lineup of ten visionary speakers, TEDxBMSCE will be an event to watch out for. TEDxBMSCE is bringing together over one hundred open-minded, creative and forward-thinking individuals. They will include men and women representing all facets of Bengaluru, including business people, educators, artists, homemakers, activists, doctors, lawyers, students, futurists. 
                                    The theme this year is ‘XII - Across A Dozen Dimensions’
                            </p>
                            <p>
                                <a class="btn" href="#">View details »</a>
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <br><br>
                    <div class="row" id = "divpadding" style="background-color: #e62b1e">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h1 class="text-center" style="color:white;">
                                TEAM
                            </h1>
                            
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row" id = "divpadding" style="background-color: rgb(26, 26, 26);">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Abhishek Appaji" src="images/about/Abhishek Appaji.png"  class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                                    Abhishek Appaji
                            </h2>
                            <p>
                                   Organiser
                             </p>
                           
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Rajagopalan V" src="images/about/Rajagopalan V.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                                Rajagopalan V
                            </h2>
                            <p>
                                Co-Organiser and Productions
                            </p>
                            
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding" style="background-color: rgb(26, 26, 26);">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Navyashree" src="images/about/Navyashree.jpeg" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                                Navyashree
                            </h2>
                            <p>
                                Curation
                            </p>
                            
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Karthik K R" src="images/about/Karthik KR.JPG" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                               Karthik K R
                            </h2>
                            <p>
                                Marketing
                            </p>
                            
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding" style="background-color: rgb(26, 26, 26);">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Radhika R" src="images/about/Radhika Ravikumar.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                                Radhika Ravikumar
                            </h2>
                            <p>
                                Operations
                            </p>
                           
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Niyathi Singh" src="images/about/Niyathi Singh.jpg" style="width: 279px; height: 279px;" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                               Niyathi Singh
                            </h2>
                            <p>
                                Parterships
                            </p>
                          
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row" id = "divpadding" style="background-color: rgb(26, 26, 26);">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <img alt="Niyati Karnad" src="images/about/Niyati Karnad.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-3" id="names">
                            <h2>
                               Niyati Karnad
                            </h2>
                            <p>
                                Design
                            </p>
                           
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
        
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/scripts.js"></script>
    </body>
</html>