<!DOCTYPE html>
<html lang="en" style="overflow: hidden; position: relative;">
	<head> 
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749625-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123749625-1');
</script>

		<meta charset="UTF-8">
		<title>TEDxBMSCE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#333" />		
		<script src="../js/jquery.min.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/skel-layers.min.js"></script>
		<script src="../js/init.js"></script>
		<script src="../js/particles.js"></script>		
		<noscript>			
			<link rel="stylesheet" href="../css/style.css" />			
		</noscript>
		<link href="../css/bootstrap.min.css" rel="stylesheet">		
		
		
	</head>
	
	<body class="landing" style="overflow: hidden;">	
		
			<script type="text/javascript">
				var partJson = {
								"particles": {
									"number": {
									"value": 50,
									"density": {
										"enable": true,
										"value_area": 800
									}
									},
									"color": {
									"value": "#ffffff"
									},
									"shape": {
									"type": "circle",
									"stroke": {
										"width": 0,
										"color": "#000000"
									},
									"polygon": {
										"nb_sides": 5
									},
									"image": {
										"src": "img/github.svg",
										"width": 100,
										"height": 100
									}
									},
									"opacity": {
									"value": 0.55,
									"random": false,
									"anim": {
										"enable": false,
										"speed": 1,
										"opacity_min": 0.1,
										"sync": false
									}
									},
									"size": {
									"value": 5,
									"random": true,
									"anim": {
										"enable": false,
										"speed": 40,
										"size_min": 0.1,
										"sync": false
									}
									},
									"line_linked": {
									"enable": true,
									"distance": 150,
									"color": "#ffffff",
									"opacity": 0.4,
									"width": 1
									},
									"move": {
									"enable": true,
									"speed": 6,
									"direction": "none",
									"random": false,
									"straight": false,
									"out_mode": "out",
									"bounce": false,
									"attract": {
										"enable": false,
										"rotateX": 600,
										"rotateY": 1200
									}
									}
								},
								"interactivity": {
									"detect_on": "canvas",
									"events": {
									"onhover": {
										"enable": true,
										"mode": "repulse"
									},
									"onclick": {
										"enable": true,
										"mode": "push"
									},
									
									"resize": true,
									},
									"modes": {
									"grab": {
										"distance": 400,
										"line_linked": {
										"opacity": 1
										}
									},
									"bubble": {
										"distance": 400,
										"size": 40,
										"duration": 2,
										"opacity": 8,
										"speed": 3
									},
									"repulse": {
										"distance": 200,
										"duration": 0.4
									},
									"push": {
										"particles_nb": 4
									},
									"remove": {
										"particles_nb": 2
									}
									}
								},
								"retina_detect": true
								}
                  var jsonUri = "data:text/plain;base64,"+window.btoa(JSON.stringify(partJson));
                 particlesJS.load('particles-js', jsonUri);
			   </script>
	
		<div id="particles-js">
		  
			<img src="../images/TEDx_logo.png" id="logo" alt="TEDx_logo">
			<div id="text_acknow">
	     	<center>
			<h5 style="color: white;">Thank You! You have Successfully Registered! <br>You will receive a confirmation Email/SMS.</h5>
			 </center>
			</div>	
			<ul class="actions" id="buton" >
				<li>
					<a style="text-decoration: none;" href="/"  class="button big">Head Back Home!</a>
				</li>
			</ul>
		<!-- Header -->
			<header id="header">
				<a href="http://bmsce.in" target="_blank"><img src="../images/collegelogo.png" id = "logo1" alt="BMS College Of Engineering"></a>				
			</header>
		</div>							
			
	 
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/scripts.js"></script>
	 
		  
	</body>
</html>
