<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749625-1"></script>
<link href="images/favicon.png" rel="icon" type="image/x-icon" />
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123749625-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="TEDxBMSCE is returning this year, and aims to serve as a platform for eminent leaders and changemakers of our society to voice their visions and views. Having a lineup of ten visionary speakers, TEDxBMSCE will be an event to watch out for. TEDxBMSCE is bringing together over one hundred open-minded, creative and forward-thinking individuals. They will include men and women representing all facets of Bengaluru, including business people, educators, artists, homemakers, activists, doctors, lawyers, students, futurists. The theme this year is ‘XII - Across A Dozen Dimensions’" />
	<meta name="keywords" content="ted, tedx, tedxbmsce, bmsce, TEDxBMSCE, ted speakers, ted tickets, twelve, TEDxBMSCE 2018, Gallery, TEDxBMSCE 2016"/>
	<meta name="robots" content="index, follow"/>
	<meta name="theme-color" content="#333" />
    <title>Gallery</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

	<link href="../css/gallery.css" rel="stylesheet">

  </head>
  <body>

	<div class="container-fluid">
		
		</div>
		<br><br>
		
		<img src="../images/2016_Highlights.png" id = "tedx_img">		
		<br>
		<br>
		<a id="buton" href="/"><button  type="button" class="btn btn-outline-secondary" style="color: white;">
				Home
		</button></a>
		<br>
		<br>
		<div class="row" style="background-color: rgb(26, 26, 26);">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11">
								<div class="media">									
									<div class="media-body" id="YTL">										
											<iframe  id="YTplayer" src="https://www.youtube.com/embed/cGHx93NTp1U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10" id = "textr">
								<h1 id = "names">
									Dr Parameswaran Ajith
								</h1>
								
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row" >
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11" id="textl">
								<h1 id = "names">
									Karthick Iyer
								</h1>
								
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10">
								<div class="media">
									
									<div class="media-body" id="YTR">
										<iframe id="YTplayer" src="https://www.youtube.com/embed/0BPt-zV4Wmo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>										
									</div>
								</div>
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row" style="background-color: rgb(26, 26, 26);">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11">
								<div class="media">
									
									<div class="media-body">
										
										
											 
											<div class="media-body" id="YTL">
													<iframe id="YTplayer" src="https://www.youtube.com/embed/gom79AQIsiU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
											</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10" id="textr">
								<h1 id = "names">
									Kaushik Mudda
								</h1>
								
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11" id="textl">
								<h1 id = "names">
									Sudipto Das
								</h1>
								
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10">
								<div class="media">
									
									<div class="media-body" id="YTR">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/1MJvuYohS9M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row" style="background-color: rgb(26, 26, 26);">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11">
								<div class="media">
									
									<div class="media-body" id="YTL">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/_nng3bpl9O4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10" id = "textr" >
								<h1 id = "names">
										Aparna Athreya
								</h1>
								
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11" id="textl">
								<h1 id = "names">
									Raul Villamarin Rodriguez
								</h1>
								
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10">
								<div class="media">
									
									<div class="media-body" id="YTR">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/5kwUU1rvoXU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row" style="background-color: rgb(26, 26, 26);">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11">
								<div class="media">
									
									<div class="media-body" id="YTL">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/M_M8l5Akeh0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10" id="textr">
								<h1 id = "names">
									Shraddha Acharya
								</h1>								
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11" id="textl">
								<h1 id = "names">
									Asha Bhat
								</h1>
								
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10">
								<div class="media">
									
									<div class="media-body" id="YTR">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/xMcnUsimIfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row" style="background-color: rgb(26, 26, 26);">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-11">
								<div class="media">
									
									<div class="media-body" id="YTL">
										
											<iframe id="YTplayer" src="https://www.youtube.com/embed/4BwgLmjw8_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-10" id="textr">
								<h1 id = "names">
									The Void
								</h1>
								
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
		
	
