<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749625-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-123749625-1');
		</script>
		<link href="images/favicon.png" rel="icon" type="image/x-icon" />

		<meta charset="UTF-8">
		<title>TEDxBMSCE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="TEDxBMSCE is returning this year, and aims to serve as a platform for eminent leaders and changemakers of our society to voice their visions and views. Having a lineup of ten visionary speakers, TEDxBMSCE will be an event to watch out for. TEDxBMSCE is bringing together over one hundred open-minded, creative and forward-thinking individuals. They will include men and women representing all facets of Bengaluru, including business people, educators, artists, homemakers, activists, doctors, lawyers, students, futurists. The theme this year is ‘XII - Across A Dozen Dimensions’" />
		<meta name="keywords" content="ted, tedx, tedxbmsce, bmsce, TEDxBMSCE, ted speakers, ted tickets, twelve, TEDxBMSCE 2018, Home"/>
		<meta name="robots" content="index, follow"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#333" />		
		<script src="../js/jquery.min.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/skel-layers.min.js"></script>
		<script src="../js/init.js"></script>
		<script src="../js/particles.js"></script>
		
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>	 -->
		<noscript>
			
			<link rel="stylesheet" href="../css/style.css" />
			
		</noscript>
		<link href="../css/bootstrap.min.css" rel="stylesheet">		
	
	</head>
	
	<body class="landing">
			
		<!-- <div id="load"></div>		 -->
		
		<!-- <div id="contents" > -->
			<script type="text/javascript">
				var partJson = {
								"particles": {
									"number": {
									"value": 50,
									"density": {
										"enable": true,
										"value_area": 800
									}
									},
									"color": {
									"value": "#ffffff"
									},
									"shape": {
									"type": "circle",
									"stroke": {
										"width": 0,
										"color": "#000000"
									},
									"polygon": {
										"nb_sides": 5
									},
									"image": {
										"src": "img/github.svg",
										"width": 100,
										"height": 100
									}
									},
									"opacity": {
									"value": 0.55,
									"random": false,
									"anim": {
										"enable": false,
										"speed": 1,
										"opacity_min": 0.1,
										"sync": false
									}
									},
									"size": {
									"value": 5,
									"random": true,
									"anim": {
										"enable": false,
										"speed": 40,
										"size_min": 0.1,
										"sync": false
									}
									},
									"line_linked": {
									"enable": true,
									"distance": 150,
									"color": "#ffffff",
									"opacity": 0.4,
									"width": 1
									},
									"move": {
									"enable": true,
									"speed": 6,
									"direction": "none",
									"random": false,
									"straight": false,
									"out_mode": "out",
									"bounce": false,
									"attract": {
										"enable": false,
										"rotateX": 600,
										"rotateY": 1200
									}
									}
								},
								"interactivity": {
									"detect_on": "canvas",
									"events": {
									"onhover": {
										"enable": true,
										"mode": "repulse"
									},
									"onclick": {
										"enable": true,
										"mode": "push"
									},
									
									"resize": true,
									},
									"modes": {
									"grab": {
										"distance": 400,
										"line_linked": {
										"opacity": 1
										}
									},
									"bubble": {
										"distance": 400,
										"size": 40,
										"duration": 2,
										"opacity": 8,
										"speed": 3
									},
									"repulse": {
										"distance": 200,
										"duration": 0.4
									},
									"push": {
										"particles_nb": 4
									},
									"remove": {
										"particles_nb": 2
									}
									}
								},
								"retina_detect": true
								}
                  var jsonUri = "data:text/plain;base64,"+window.btoa(JSON.stringify(partJson));
                 particlesJS.load('particles-js', jsonUri);
			   </script>
	
		<div id="particles-js">
		  
			<img src="../images/TEDx_logo.png" id="logo" alt="TEDx_logo">
				
			<h5 id="date" style="color:white;"> September <span style="color:#e62b1e;">22<sup>nd</sup></span>, 2018 </h5>
				
			<ul class="actions" id="buton" >
				<li>
					<a style="text-decoration: none;" href="/register"  class="button big">Book Tickets!</a>
				</li>
			</ul>
		<!-- Header -->
			<header id="header">
				<a href="http://bmsce.in" target="_blank"><img src="../images/collegelogo.png" id = "logo1" alt="BMS College Of Engineering"></a>
				<nav id="nav">
					<ul>							
						<li><a href="#speakers" >SPEAKERS</a></li>
						<li><a href="#sponsors" >SPONSORS</a></li>
						<li><a href="/gallery">TEDxBMSCE 2016</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="#contactus">CONTACT US</a></li>
					</ul>
				</nav>
			</header>
		</div>
		
		<div>
			<div id="theme_section">

					<div class="container-fluid">
							<div class="row">
								<div class="col-md-5">
										<img src="images/Theme_logo.jpg" id="theme_logo" alt="">
								</div>
								<div class="col-md-1">
								</div>
								<div class="col-md-6" id="theme_text">
									
									<header>
										
										<h1 id="AADD">
											ACROSS A <span style="color:#e62b1e">DOZEN</span> DIMENSIONS
										</h1>
									
									</header>
									
									
									<p>
											It is inevitable that we walk through the path of life as time passes, sometimes if we are fortunate enough we can choose the path we take. Irrespective of the path we take, we are bound to meet new people, and they are all unique in their own ways. Each one of them have a story to tell, have something new to offer, a varied perspective. <strong> This perspective is metaphorized as a dimension.</strong> Each of them contribute to a dimension that makes this world a better place by providing vision and a path for the future. This event on <strong> September 22nd 2018</strong> is all about that, by the end of the event, you along with your own perspectives will have an additional dozen dimensions added to your consciousness, helping you walk through your path of life efficiently and more knowledgeable than before.
									</p>
								
								</div>
								
							</div>
							<img id="mic" src="images/mic.png" alt="">
						</div>
			
			
		    </div>
		</div>
		
		<a name="speakers" ></a> 
		  
            <div  style="background-color: rgba(0, 0, 0, 0)" id="spkrs">
					
					<header class="major" id="Ospeakers">
							<h2>Our Speakers</h2>							
					</header>
					<div id="slideshow">


						
					<div class="container-fluid mySlides">
							<div class="row">
								<div class="col-md-2">
								</div>
								<div class="col-md-3">
									<a  href="/speakersDetails#Dilip_Patel"><img alt="Dilip Patel" id="speakers_img" src="images/speakers/dilip-patel.jpg" class="rounded-circle" /></a>									
								</div>
								<div class="col-md-6" id="speakers_text">
										<a style="text-decoration: none; color: black;" href="/speakersDetails#Dilip_Patel"><h2>
												Dilip Patel
											</h2></a>
									
									<p>
										Engineer, Counsellor, Trainer, Learning Facilitator <br>
										& Certified Zentangle Teacher
									</p>
									
								</div>
								<div class="col-md-1">
								</div>
							</div>
						</div>

						<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#Sudeendra_Koushik"><img alt="Sudeendra Koushik" id="speakers_img" src="images/speakers/Sudeendra_Koushik.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#Sudeendra_Koushik"><h2>
													Sudeendra Koushik
												</h2></a>
										
										<p>
											Chair IEEE Bangalore, Chief Innovator & Co-Founder at Prasu
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>


							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#thg"><img alt="Sudeendra Koushik" id="speakers_img" src="images/speakers/trinetra.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#thg"><h2>
													Trinetra Haldar Gummaraju
												</h2></a>
										
										<p>
											Artist, Medical Student, A Proud Transwoman
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>


							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#AAS"><img alt="Alakh Alok Srivastava" id="speakers_img" src="images/speakers/Alakh-Alok-Srivatsava.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#AAS"><h2>
													Alakh Alok Srivastava
												</h2></a>
										
										<p>
											Gold Medalist Advocate, Supreme Court of India
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>


							
							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#Poornima_Ashok"><img alt="Poornima_Ashok" id="speakers_img" src="images/speakers/Poornima-Ashok.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#Poornima_Ashok"><h2>
													Poornima Ashok
												</h2></a>
										
										<p>
											Dansuese, Director of Nrithyanjali School of Bharatanatyam, Bangalore
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>




							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#Anshul_chodha"><img alt="Anshul Chodha" id="speakers_img" src="images/speakers/Anshul-Chodha.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#Anshul_chodha"><h2>
													Anshul Chodha
												</h2></a>
										
										<p>
											Principal Architect, Sanctuary Architects & Interior Designers
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>	
							
							
							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#Monishwaran"><img alt="Monishwaran" id="speakers_img" src="images/speakers/Monishwaran.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#Monishwaran"><h2>
													Monishwaran Maheswaran
												</h2></a>
										
										<p>
											Computer Scientist, Inventor, Author & Amateur Mathematician
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>		
							

							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#akshayee"><img alt="akshayee" id="speakers_img" src="images/speakers/Akshayee-Shetty.png" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#akshayee"><h2>
													Akshayee Shetty
												</h2></a>
										
										<p>
											Graphic Designer, Autism Specialist <br> & Founder-Director at Sense Kaleidoscope
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>						
							
							<div class="container-fluid mySlides">
									<div class="row">
										<div class="col-md-2">
										</div>
										<div class="col-md-3">
												<a href="/speakersDetails#c_dasa"><img alt="akshayee" id="speakers_img" src="images/speakers/chanchalapati_dasa.png" class="rounded-circle" /></a>										
										</div>
										<div class="col-md-6" id="speakers_text">
												<a style="text-decoration: none; color: black;" href="/speakersDetails#c_dasa"><h2>
														Chanchalapathi Dasa
													</h2></a>
											
											<p>
												Vice Chairman, The Akshaya Patra Foundation
											</p>									
										</div>
										<div class="col-md-1">
											</div>
									</div>
								</div>	

							<div class="container-fluid mySlides">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-3">
											<a href="/speakersDetails#vminor"><img alt="vminor" id="speakers_img" src="images/speakers/vminor.jpg" class="rounded-circle" /></a>										
									</div>
									<div class="col-md-6" id="speakers_text">
											<a style="text-decoration: none; color: black;" href="/speakersDetails#vminor"><h2>
													V Minor
												</h2></a>
										
										<p>
											Indian Fusion Music Band, Innovating, Experimenting<br> & spreading joy using music
										</p>									
									</div>
									<div class="col-md-1">
										</div>
								</div>
							</div>	

							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  							<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
					
					<img id="theme_skyline" src="images/skyline.png" alt="">
					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1)"></span> 
						<span class="dot" onclick="currentSlide(2)"></span>
						<span class="dot" onclick="currentSlide(3)"></span> 
						<span class="dot" onclick="currentSlide(4)"></span> 
						<span class="dot" onclick="currentSlide(5)"></span> 
						<span class="dot" onclick="currentSlide(6)"></span>
						<span class="dot" onclick="currentSlide(7)"></span>
						<span class="dot" onclick="currentSlide(8)"></span>
						<span class="dot" onclick="currentSlide(9)"></span>	
						<span class="dot" onclick="currentSlide(10)"></span>												
					  </div>
				</div>
				
		<!-- Two -->
		<a name="sponsors" ></a> 
			<section id="two" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Our Sponsors</h2>						
					</header>

					<div id="sponsors_row" class="row 150%" >
						
						<div class="6u 12u$(medium)" id="sponsor_1">
							<a title="Accomodation Partner" href="https://www.yatra.com/online/flexi-stay" target="_blank"><img id="sponsor_img_1" src="images/sponsors/yatra.png" alt="Yatra"></a>
								<h5 id="sponsor_text_1">  Accomodation Partner</h5>
					
						</div>
						<div class="6u 12u$(medium)" id="sponsor_2">
							<a href="https://www.honeywell.com" target="_blank"><img id="sponsor_img_2" src="images/sponsors/honeywell.png" alt=""></a>			
							<h5 id="sponsor_text_2">Silver Collaborator</h5>																		
						</div>					
					</div>				
					
				
					<div class="row 150%">
						

						<div class="12u 12u$(medium)" id="sponsor_3">
							<a title="Bronze Partner" href="https://ultimatewealth.in/" target="_blank"><img id="sponsor_img_3" src="images/sponsors/ultimate.png" alt="Ultimate"></a>
								<h5 id="sponsor_text_3"> Bronze Supporter </h5>
					
						</div>	
													
					</div>				
					
					
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Venue</h2>
						<p> BMS College of Engineering,
							Bull Temple Road,
							Basavanagudi
							Bengaluru, 560019 </p>
					</header>
				</div>
				<div id="map"></div>
				
			</section>

		<!-- Footer -->
		<a name="contactus" ></a> 
			<footer id="footer">
				<div class="container">
						<h2 style="text-align: center; padding-bottom: 3%;">Any Queries?</h2>
					<section class="links">
						<div class="row">					
							
								<ul class="icons">
									<li>
										<p><i class="icon rounded fa-envelope" href="tedxbmsce@bmsce.ac.in" target="_blank"><span class="label">Mail</span></i>tedxbmsce@bmsce.ac.in</p>
									</li>

									<li>
										<a class="icon rounded fa-facebook" href="https://facebook.com/tedxbmsce" target="_blank"><span class="label">Facebook</span></a>
									</li>
									<li>
										<a class="icon rounded fa-twitter" href="https://twitter.com/tedxbmsce" target="_blank"><span class="label">Twitter</span></a>
									</li>
									<li>
										<a class="icon rounded fa-instagram" href="https://www.instagram.com/tedxbmsce" target="_blank"><span class="label">Instagram</span></a>
									</li>
									<li>
										<a class="icon rounded fa-linkedin" href="https://in.linkedin.com/company/tedxbmsce" target="_blank"><span class="label">LinkedIn</span></a>
									</li>
								</ul>							
							
						</div>
					</section>
					
				</div>
			</footer>
			
			<script>
				
				function initMap() {
				  var BMSCE = {lat: 12.9410044, lng: 77.5655297};
				  var map = new google.maps.Map(
					  document.getElementById('map'), {zoom: 18, center: BMSCE});
				  var marker = new google.maps.Marker({position: BMSCE, map: map});
				}
					</script>					
					
			<script>	

				var slideIndex = 1;
				showSlides(slideIndex);				
				function plusSlides(n) {
				showSlides(slideIndex += n);
				}				
				function currentSlide(n) {
				showSlides(slideIndex = n);
				}
				function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) {slideIndex = 1} 
				if (n < 1) {slideIndex = slides.length}
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none"; 
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex-1].style.display = "block"; 
				dots[slideIndex-1].className += " active";
				}
				</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx--LK3-MCTnhAhaHWy81SrKFkV20ni4Y&callback=initMap">
			</script>
	 
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/scripts.js"></script>
	  <script>	  
			$('a[href*="#"]')  
			.not('[href="#"]')
			.not('[href="#0"]')
			.click(function(event) {   
				if (
				location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
				&& 
				location.hostname == this.hostname
				) {      
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');      
				if (target.length) {        
					event.preventDefault();
					$('html, body').animate({
					scrollTop: target.offset().top
					}, 1000, function() {          
					var $target = $(target);
					$target.focus();
					if ($target.is(":focus")) { 
						return false;
					} else {
						$target.attr('tabindex','-1'); 
						$target.focus(); 
					};
					});
				}
				}
			});
	  </script>
		  
	</body>
</html>
