<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749625-1"></script>
<link href="images/favicon.png" rel="icon" type="image/x-icon" />
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123749625-1');
</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TEDxBMSCE is returning this year, and aims to serve as a platform for eminent leaders and changemakers of our society to voice their visions and views. Having a lineup of ten visionary speakers, TEDxBMSCE will be an event to watch out for. TEDxBMSCE is bringing together over one hundred open-minded, creative and forward-thinking individuals. They will include men and women representing all facets of Bengaluru, including business people, educators, artists, homemakers, activists, doctors, lawyers, students, futurists. The theme this year is ‘XII - Across A Dozen Dimensions’" />
		<meta name="keywords" content="ted, tedx, tedxbmsce, bmsce, TEDxBMSCE, ted speakers, ted tickets, twelve, TEDxBMSCE 2018, Speakers"/>
		<meta name="robots" content="index, follow"/>
        <meta name="theme-color" content="#333" />
        <title>
            Speakers
        </title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">

	    <link href="../css/speaker.css" rel="stylesheet">
    </head>
    <body>
        
            <div class="container-fluid">
                    <div class="row" id="divpadding" >
                        <div class="col-md-12">
                            <h1 class="text-center" id="heading" style="color: white;">
                                Our Speakers
                            </h1> 
                            <br> <br>
                            <a href="/">
                                <button type="button" id="buton" class="btn btn-outline-secondary">
                                        Home
                                    </button>
                                </a>                          
                        
                        </div>
                    </div>

                    <a name="Sudeendra_Koushik" ></a> 
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="Sudeendra Koushik" id="speakers_img" style="margin-top:2em; margin-bottom:2em;" src="images/speakers/Sudeendra_Koushik.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Sudeendra Koushik
                            </h2>
                            <h5>
                                    Chair IEEE Bangalore, Chief Innovator & Co-Founder at Prasu
                            </h5>
                            <br>
                            <p>
                                    Mr Sudeendra Koushik is an Engineering Graduate with Master of Business Administration and Post-graduation in Strategy from IIM-K and his research-based PhD in the field of Innovation. Mr Koushik has been a practising innovator career for 24 years, with more than 18 patents. He has served in Philips Global Development Centre, Singapore, Philips Advanced Systems Laboratory and Philips Innovation Centre Eindhoven, in The Netherlands and Philips Innovation Centre, India. He has served IEEE as founder-member CE Singapore, founder-member, secretary, chairman of CE Bangalore, as Chair professional activities, joint-treasurer, SAC Chair, Vice-Chairman of the IEEE Bangalore section, member India strategy committee, Co-Chair of Innovation Committee of IEEE. He has co-authored a book 'A Conversation with the innovator in you. 
                            </p>                           
                        </div>
                    </div>                

                    <a name="Dilip_Patel" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="Dilip Patel" id="speakers_img" src="images/speakers/dilip-patel.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Dilip Patel
                            </h2>
                            
                            <h5>
                                    Engineer, Counsellor, Trainer, Learning Facilitator 
                                    & Certified Zentangle Teacher
                            </h5>
                            <br>
                            <p>
                                    After working for a few years in Hindustan Aeronautics Ltd, he set up and ran an industry for over 25 years. During this period he discovered his capacity to learn, and also teach which opened up new doors into counselling and training. On turning 50, he decided to plunge increasingly into training and learning. And so, he moved out of the running of the industry. He aligned with an international organization called Initiatives of Change, and currently, he works with them as a senior trainer/facilitator and a course director. Being the first one to bring the wonderful, meditative and therapeutic art form of Zentangles to India in 2012, he desires to take it in a big way to the education and corporate world to benefit a large segment of our society. 

                            </p>                            
                        </div>                        
                    </div>


                    <a name="thg" ></a> 
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="trinetra" id="speakers_img" style="margin-top:2em; margin-bottom:2em;" src="images/speakers/trinetra.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Trinetra Haldar Gummaraju
                            </h2>
                            <h5>
                                Artist, Medical Student, A Proud Transwoman
                            </h5>
                            <br>
                            <p>
                                Trinetra Haldar Gummaraju is a third-year medical student at Kasturba Medical College, Manipal. Her passion lies fundamentally in helping people in artistic ways: be it a potential career in surgery, or in creative content on canvas and social media. Trinetra is also a proud transwoman. Her presence on various online platforms, which was once a therapeutic outlet, is now a source of insight: a journey of a young Indian citizen trying to bridge the gap between two worlds she belongs to, the transgender community and the medical field. Having found art at a young age, Trinetra has used it as a means of creative and release and hopes to find it once again in the Operation Theatre. Ever since understanding her sexuality and gender identity, she has used various platforms to talk about and extensively document her journey and transition inspiring millions. 

                            </p>                           
                        </div>
                    </div> 


                    <a name="AAS" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="Alakh Alok Srivastava" id="speakers_img" src="images/speakers/Alakh-Alok-Srivatsava.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Alakh Alok Srivastava
                            </h2>
                            
                            <h5>
                                Gold Medalist Advocate, Supreme Court of India
                            </h5>
                            <br>
                            <p>
                                Alakh Alok completed his Law Graduation from Campus Law Centre (CLC), University of Delhi, in the year 2007. He joined real estate company DLF Limited as Legal Manager, after which he worked in Hindustan Petroleum Corporation Limited (HPCL) for three years. He graduated Post Graduate Diploma in Labour Laws Course from Indian Law Institute with a Gold Medal, conferred upon him by the then Hon'ble Chief Justice of India Justice S. H. Kapadia. Thereafter, he has been practicing law with a number of advocates under him. He believes he joined this noble profession of Litigation with the sole purpose of serving the poor and downtrodden people of our country. He was involved in cases that subsequently helped a lot of victims of rape, his role was vital in order to amend laws that would provide the death penalty to the Rapists. He has been actively participating in donating to charity.


                            </p>                            
                        </div>                        
                    </div>


                    <a name="Poornima_Ashok" ></a> 
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="Poornima_Ashok" id="speakers_img" style="margin-top:2em; margin-bottom:2em;" src="images/speakers/Poornima-Ashok.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Poornima Ashok
                            </h2>
                            <h5>
                                Dansuese, Director of Nrithyanjali School of Bharatanatyam, Bangalore
                            </h5>
                            <br>
                            <p>
                                Bharatanatyam is Poornima's lifetime pursuit. After initial training from Smt. Radha Sridhar of Bangalore, she did advanced training under the famous Guru Padmabhushan Sri. Dhananjayans of Chennai. She also learnt the intricate aspects of abhinaya from Smt.Kalanidhi Narayan. She was a recipient of central government scholarship for advanced training in Bharatanatyam. Devoted to art, coupled with creativity and intelligent innovativeness Poornima founded 'Nrityanjali' in 1989. Since then she has passionately promoted the art to many young talented dancers, most of them having achieved proficiency and has organized dance festivals, seminars and workshops with eminent gurus in Bangalore annually. She was conferred the prestigious 'Karnataka Kalashri' by Karnataka Sangeeta Nritya Academy, Govt of Karnataka in 2016. 

                            </p>                           
                        </div>
                    </div> 


                    <a name="Anshul_chodha" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="Anshul Chodha" id="speakers_img" src="images/speakers/Anshul-Chodha.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Anshul Chodha
                            </h2>
                            
                            <h5>
                                Principal Architect, Sanctuary Architects & Interior Designers
                            </h5>
                            <br>
                            <p>
                                Alumni of MIT, Manipal, Anshul Chodha founded Sanctuary Architects and Designers in Bangalore in August 2003 with the primary offerings of architecture and spatial design in diverse sectors. Sanctuary has been involved in various prestigious projects that range from Hospitality, Residential to Commercial both in architecture and interior design. Anshul and Sanctuary are committed to working on new design approaches and solutions that are truly sustainable and changing fixed mindsets on design, materials, construction, technologies and lifestyles and most importantly committed to looking at ways to give design accessibility to the common man and making a difference to society at large. Sanctuary has won several design awards amongst which are Four National Awards. Their Office Sanctuary Architects and Designers was shortlisted among ten finalists in the Office space category for the World Architecture Festival in Berlin in November 2017. 

                            </p>                            
                        </div>                        
                    </div>


                    <a name="Monishwaran" ></a>
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="Monishwaran Maheshwaran" id="speakers_img" src="images/speakers/Monishwaran.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Monishwaran Maheswaran
                            </h2>
                            
                            <h5>
                                Computer Scientist, Inventor, Author & Amateur Mathematician
                            </h5>
                            <br>
                            <p>
                                Monishwaran is a high school student whose main interest lies in mathematics and computer science. He was initially classified as a child prodigy, excelling in several Olympiads and went on to pursue research in mathematics at Harvard University. He has been working on a research (Computational neuroscience) to help in the early diagnosis of schizophrenia and Alzheimers using machine learning and mathematics at NIMHANS. In addition, he has been active in the field of physics (giving the idea of the thought experiment: "Vapsee") His inventions include Project TAR-Teaching Through Augmented Reality, Mind Controlled Automation, Assistive technology for the Hearing Impaired and Artificial Intelligence Chatbot. His current project is to bring the power of quantum computing to the hands of average people. 

                            </p>                            
                        </div>                        
                    </div>

                    <a name="akshayee" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="Akshayee" id="speakers_img" src="images/speakers/Akshayee-Shetty.png" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Akshayee Shetty
                            </h2>
                            
                            <h5>
                                Graphic Designer, Autism Specialist & Founder-Director at Sense Kaleidoscope
                            </h5>
                            <br>
                            <p>
                                An artist who has been absolutely passionate about the triptych principles of Creative Learning, Collaborative Practices and Inclusive environments, Akshayee has spent a good chunk of her life making art the way of life and a possible career for children born with autism. Starting off as a volunteer at the Spastics Society of Karnataka in 2004, her work in the Tramway Theatre Arts groups where she conducted various workshops for adults with disabilities led to a film being screened at the "On Your Radar" Learning disability Arts Film Festival. As an artist in Glasgow, her other works were aimed at residential centres in the city that allowed individuals to develop social skills, networks and the confidence to pursue full-blown careers in Art, whilst simultaneously collaborating with museums for various exhibitions. Today, she is the founder and Director of Blue Olephant and the Ayathi Trust both of which aim towards engaging autistic children emotionally, socially and eventually make them employable in various art streams by creating opportunities and building the very culture. 

                            </p>                            
                        </div>                        
                    </div>         



                    <a name="c_dasa" ></a>
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="chanchalapathi_dasa" id="speakers_img" src="images/speakers/chanchalapati_dasa.png" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Chanchalapathi Dasa
                            </h2>
                            
                            <h5>
                               Vice Chairman, The Akshaya Patra Foundation
                            </h5>
                            <br>
                            <p>
                                    Chanchalapathi Dasa, populary known as "CPP" did his Masters in Electrical Communication Engineering from Indian Institute of Science, Bengaluru. While pursuing his Bachelor's degree, he came across with the teachings of Srila Prabhupada's and met with Madhu Pandit Dasa to carry forward the mission together. He became a full-time member to fullfill the vision & aspiration of his spiritual guru Srila Prabhupada. Comitted to the cause since 1984, he is currently involved in strategy, growth, and governance of Akshaya Patra. 
 

                            </p>                            
                        </div>                        
                    </div>


                    <a name="vminor" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="vminor" id="speakers_img" src="images/speakers/vminor.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                V Minor
                            </h2>
                            
                            <h5>
                                Indian Fusion Music Band, Innovating, Experimenting & spreading joy using music
                            </h5>
                            <br>
                            <p>
                                "We are in an unbreakable relationship with experimenting while constantly flirting with innovation. Having found ourselves in the crevice between being outstanding musicians and amateurs, we were lucky enough to dare to dream." As a bunch of common, everyday and unremarkable individuals who came together to discover perfect sync and coordination which transpired into what is now a flourishing YouTube channel, V Minor stands for everything that represents the perfect mixture of fun, innovation and holding of traditional values whilst bringing in a fresh zest of modern day music. V Minor stands testament that irrespective of your background, opinions, ideas and interests, there can always be a perfect sync. Just like the music they produce where they mix different styles of music perfectly.  

                            </p>                            
                        </div>                        
                    </div>




                </div>

            
                <img id="theme_skyline" src="images/skyline_white.png" alt="">
                
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/scripts.js"></script>
            
    </body>
</html>
