<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749625-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123749625-1');
</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TEDxBMSCE is returning this year, and aims to serve as a platform for eminent leaders and changemakers of our society to voice their visions and views. Having a lineup of ten visionary speakers, TEDxBMSCE will be an event to watch out for. TEDxBMSCE is bringing together over one hundred open-minded, creative and forward-thinking individuals. They will include men and women representing all facets of Bengaluru, including business people, educators, artists, homemakers, activists, doctors, lawyers, students, futurists. The theme this year is ‘XII - Across A Dozen Dimensions’" />
		<meta name="keywords" content="ted, tedx, tedxbmsce, bmsce, TEDxBMSCE, ted speakers, ted tickets, twelve, TEDxBMSCE 2018, Speakers"/>
		<meta name="robots" content="index, follow"/>
        <meta name="theme-color" content="#333" />
        <title>
            About
        </title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">

	    <link href="../css/speaker.css" rel="stylesheet">
    </head>
    <body>
        
            <div class="container-fluid">
                    <div class="row" id="divpadding" >
                        <div class="col-md-12">
                            <h1 class="text-center" id="heading" style="color: white;">
                                Our Speakers
                            </h1> 
                            <br> <br>
                            <a href="/">
                                <button type="button" id="buton" class="btn btn-outline-secondary">
                                        Home
                                    </button>
                                </a>                          
                        
                        </div>
                    </div>

                    <a name="Sudeendra_Koushik" ></a> 
                    <div class="row" id="divpadding" style=" background-color: rgb(26,26,26)">
                        <div class="col-md-4">
                            <img alt="Sudeendra Koushik" id="speakers_img" style="margin-top:2em; margin-bottom:2em;" src="images/speakers/Sudeendra_Koushik.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Sudeendra Koushik
                            </h2>
                            <h5>
                                    Chair IEEE Bangalore, Chief Innovator & Co-Founder at Prasu
                            </h5>
                            <br>
                            <p>
                                    Mr Sudeendra Koushik is an Engineering Graduate with Master of Business Administration and Post-graduation in Strategy from IIM-K and his research-based PhD in the field of Innovation. Mr Koushik has been a practising innovator career for 24 years, with more than 18 patents. He has served in Philips Global Development Centre, Singapore, Philips Advanced Systems Laboratory and Philips Innovation Centre Eindhoven, in The Netherlands and Philips Innovation Centre, India. He has served IEEE as founder-member CE Singapore, founder-member, secretary, chairman of CE Bangalore, as Chair professional activities, joint-treasurer, SAC Chair, Vice-Chairman of the IEEE Bangalore section, member India strategy committee, Co-Chair of Innovation Committee of IEEE. He has co-authored a book 'A Conversation with the innovator in you. 
                            </p>                           
                        </div>
                    </div>                

                    <a name="Dilip_Patel" ></a>
                    <div class="row" id="divpadding">
                        <div class="col-md-4">
                            <img alt="Dilip Patel" id="speakers_img" src="images/speakers/dilip-patel.jpg" style="margin-top:2em; margin-bottom:2em;" class="rounded-circle" />
                        </div>
                        <div class="col-md-8" id="speakers_text">
                            <h2>
                                Dilip Patel
                            </h2>
                            
                            <h5>
                                    Engineer, Counsellor, Trainer, Learning Facilitator 
                                    & Certified Zentangle Teacher
                            </h5>
                            <br>
                            <p>
                                    After working for a few years in Hindustan Aeronautics Ltd, he set up and ran an industry for over 25 years. During this period he discovered his capacity to learn, and also teach which opened up new doors into counselling and training. On turning 50, he decided to plunge increasingly into training and learning. And so, he moved out of the running of the industry. He aligned with an international organization called Initiatives of Change, and currently, he works with them as a senior trainer/facilitator and a course director. Being the first one to bring the wonderful, meditative and therapeutic art form of Zentangles to India in 2012, he desires to take it in a big way to the education and corporate world to benefit a large segment of our society. 

                            </p>                            
                        </div>                        
                    </div>
                </div>

            
        
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/scripts.js"></script>
    </body>
</html>
