body {
    padding-top: 5%;
    background-color: rgb(46, 45, 45);
    width:100vw;
        
}
#YTplayer{
    width:36vw;
    height: 17.5vw;
    padding-right: 6vw;
    margin-top: 1vw;
}
#divpadding{
    padding-top:2%;
    padding-bottom:2%;
}

#logo {
    padding-top: 8em;
    width: 30vw;
}

#names{
    color: white;
    padding-top: 7em;
}

#team_images{
    border: solid 10px whitesmoke;
}

#buton{

    padding-left: 0vw;
    
}
#logo-padding{
    padding-top:3%;
    padding-bottom:2%;
}

@media(max-device-aspect-ratio:10/16){
    #heading{
        padding-bottom:1em;
        padding-top:1.8em;
    }
    #buton{
        padding-left: 1vw;
        
       
    }
    #logo-padding{
        padding-top:0%;
        padding-bottom:0%;
    }
    
    #logo{
        width: 95vw;
        padding-right: 3vw;
        padding-bottom: 38vw;			
			   
    }
    #YTplayer{
        width:95vw;
        height: 54vw;
        padding-right: 4vw;
        padding-bottom: 8vw;
        
    }
    #names{
        color: white;
        padding-top: 6%;
        
        text-align: center;
    } 
    #team_images{
        /* border: solid 5px #e62b1e; */
        width: 50vw;
        height: auto;
        margin-left: 20vw;
        margin-top: 5%;
        border: solid 6px whitesmoke;

    }

    #divpadding{
        padding-top:4%;
        padding-bottom:4%;
    }
    
}