
html{
    overflow-x: hidden;
}
body {
    background-color: rgb(46, 45, 45);
    overflow-x: hidden;
    width: 100vw;
}
#tedx_img{
    margin-top: 2vw;
    width: 20%;
    margin-left: 38vw;
}
#YTL {
padding:8% 0% 8% 10vw;

}
#YTR{
    margin-right: 80vw;
}
#textr{
    padding-left: 4vw;
    padding-top: 11vw;
    padding-right:10vw;
    color: white;
}
#textl{
    padding-top: 8vw;
    padding-left: 25vw;
    color: white;
}

#YTplayer{
    width:35vw;
    height: 19.7vw;
     
}

#names{
  font-size: 3vw;
} 

#buton{

    padding-left: 8vw;
    
}
@media(max-device-aspect-ratio:10/16){
    #buton{
        padding-left: 5vw;
       
    }
    body{

        overflow-x: hidden;
    }
    #tedx_img{
        margin-top: 0;
        width: 80vw;
        margin-left: 9%;
        margin-bottom: 9%;
        padding : 5%;
    }
    #YTplayer{
        width:100vw;
        height: 70.25vw;
        padding-top: 8%;
        padding-bottom: 4%;
        
        
    }
    #YTL {
        padding: 12vw 0 0 0;
        
        }
    #names{
           text-align: center;
           font-size: 7vw;
           padding-bottom: 4%;
    } 
    
    #textr{
        padding-left: 0vw;
        padding-top: 7.5vw;
        padding-bottom:7.5vw;
        padding-right:0vw;
        color: white;
    }
    #textl{
        padding-top: 0vw;
        padding-left: 0vw;
        color: white;
    }
}